__pycache__/
build/
dragonn.egg-info
dist/
*.pyc
*.ipynb_checkpoints
*.idea
*.hdf5
*.fa
*.fai
*.log
*.gz
*.fasta
*.1
*.0
*.2
*.3
*.4
*.5
*.6
*.7
*.8
*.9
*.bam
*.bigwig
*.bigWig
*.tgz
*.pkl
*.gzi
*.gz
*.txt
*.tsv
*.pwm
*.svg
*.sizes
*.pcm
*lsgkm*
