<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="{{ site.baseurl }}/index.html" class="btn">Overview</a>
  <a href="{{ site.baseurl }}/tutorial.html" class="btn">Tutorial</a>
  <a href="{{ site.baseurl }}/cloud_resources.html" class="btn">Cloud Resources</a>
  <a href="{{ site.baseurl }}/code.html" class="btn">Code</a>
  <a href="{{ site.baseurl }}/documentation.html" class="btn">Documentation</a>
  <a href="{{ site.baseurl }}/workshops.html" class="btn">Workshops</a>
  <a href="{{ site.baseurl }}/paper_supplement.html" class="btn">Paper Supplement</a>
</section>

