<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="{{ site.baseurl }}/index.html" class="btn">Start Here</a>
  <a href="{{ site.baseurl }}/workshops/index.html" class="btn">Workshops</a>
  <a href="https://github.com/kundajelab/dragonn" class="btn">View on GitHub</a>
  <a href="https://github.com/kundajelab/dragonn/archive/0.1.0.zip" class="btn">Download .zip</a>
  <a href="https://github.com/kundajelab/dragonn/archive/0.1.0.tar.gz" class="btn">Download .tar.gz</a>
</section>

